main{
	color: white;
	margin-top: 300px;
}
.forms{
	background: rgba(181, 156, 75, 0.2);
	margin-top: 30px;
	color: white;
}
.form1{
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 1tr auto;
	grid-template-areas: "block1 block2" "block3 block3";

}
.form1[type="radio"]{
	background-color:#A69271;

}
.form1 input[type="checkbox"]{
	background-color:#A69271;

}

.form1 select{
	background-color:#A69271;
	color: black;
	border-color: bisque;
	border-radius: 0;
	border-width: 2px;
	color: white;

}

.form1 input[type="file"]:hover{
	cursor: pointer;
}

.form1 select option:checked{
	background-color: #008080;
	margin: 1px;

	color: black;

}
.form1 .block3{
	margin-left: 1%;
}
.form1 .block3 p{
    margin-top: 10px;
	margin-bottom: 3px;
    font-size: 20px;
}

.form1 .block3 button{
	margin-top: 20px;
	margin-bottom: 30px;
	height: 30px;
	width: 100px;
	background-color: bisque;
	border-style: none;
	border-radius: 3px;
}
.form1 .block1,
.form1 .block2{
	width: 90%;
	margin-left: 1%;

}
.form1 .block2{
	margin-right: 2%;
	
	border-color: bisque;
}

.form1 .block2 p{
	margin-bottom: 10px;
}

.form1 .block2 option{
	margin-top: 4px;
	min-width: 100px;
	font-size: 15px;
	padding: 0 5px;
}

.forms h2{
	text-align: center;
}




.form1 .block1{
	grid-area: block1;
	border-color: bisque;
	
	
}

.form1 .block1 input{
	margin-top: 5px;
}

.form1 .block2{
	grid-area: block2;


}

.form1 .block3{
	grid-area: block3;
}

.form1 input[type="tel"],
.form1 input[type="password"]
{
	border: none;
	border-bottom: 2px solid bisque;
	background-color:#A69271;
	color: white;
	transition: 0.5s;
	height: 25px;
	width: 98%;
}

.form1 input[type="text"],
.form1 input[type="email"]
{
	border: none;
	border-bottom: 2px solid bisque;
	background-color:#A69271;
	color: white;
	transition: 0.7s;
	height: 25px;
	width: 90%;
}
.form1 input[type="password"],
.form1 input[type="text-align"]
{
	transition-duration: 0.7s;
}
form input:focus,textarea:focus{
	background-color: white;
	
}
.form1 textarea{
	width: 90%;
	height: 100px;
	background-color:#A69271;
	border-color: bisque;
	border-width: 2px;
	color: white;
	transition: 0.7s;

}
.form1 textarea:focus{
	
	background-color: bisque;
	border-width: 2px;
	color: black;


}

.form1 input[type="tel"],
.form1 input[type="password"],
.form1 input[type="text"],
.form1 input[type="email"]{
	font-size: 15px;
	padding: 5px;
}

.form1 input[type="tel"]:focus,
.form1 input[type="password"]:focus,
.form1 input[type="text"]:focus,
.form1 input[type="email"]:focus
{
	border: none;
	border-bottom: 2px solid bisque;
	background-color:#A69271;
	color: black;
}
@media (max-width: 1001px) and (min-width: 770px){
	.form1{
		
		grid-template-columns: 47% 47% ;
	}
	.content1{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-template-areas: "log not" "nav nav" ;

	}
	aside{
		font-size: 23px;
	}
	.log{
		grid-area: log;
	}
	.notif{
		grid-area: notif;
	}
	.content{
		
		grid-area: nav;
		width: 97%;

	}
	.content div{
		margin-left: 50%;
		width: 555px;
		transform: translateX(-50%);
	}
}

.content{
    padding: 30px;
}

.content h2{
    font-size: 40px;
    margin-bottom: 40px;
}


legend{
    font-size: 20px;
    margin-bottom: 15px;
}

form div{
    margin-bottom: 10px;
}