.choice_help{
    padding: 0 0 0;
}
section{
    display: block;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.choice_help h2 {
    margin-bottom: 20px;
    color: #1a2026;
    background:linear-gradient(45deg, rgb(247,148,109), rgb(193,85,116));
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
}

.help_title {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.choice_help p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;
}

.h2_desc {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.55;
    margin-bottom: 0;
}

p {
    color: #1a2026;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 700;
    margin-bottom: 25px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.choice_grid {
    display: grid;
    padding: 0 0 75px 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "girls adult tall"
        "girls kids tall"
        "big kids tall";
}

.choice_grid>a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    color: #676bc2;
}

.img_none {
    background: linear-gradient(rgb(246,146,109), rgb(193,85,116));
}


.adult{
grid-area: adult;
}

.tall {
    grid-area: tall;
}

.kids {
    grid-area: kids;
}

.girls {
    grid-area: girls;
}

.tall, .kids, .girls {
    background: linear-gradient(rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.6));
}

.choice_desc {
    position: absolute;
    bottom: 0;
    text-align: left;
    padding: 30px;
    color: #fff;
}

.choice_desc h3 {
    font-size: 24px;
    text-align: left;
}



.choice_desc ul {
    list-style: none;
    padding-left: 0;
    font-size: 18px;
    line-height: 1.55;
}

.choise_desc ul{
    list-style: disc;
    padding-left: 20px;
}

ol,ul{
    box-sizing: border-box;
}

.choise_desc ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    margin-bottom: 10px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.choice_grid>a img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}   

.help_img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 767px)
{
.wrapper {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}


h2, .catalog h2, .choice_help h2 {
    padding-bottom: 20px;
}


.h2_desc {
    display: none;
}

.choice_grid {
    max-width: 620px;
    margin: 0 auto;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 300px;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "girls big"
        "adult kids"
        "tall tall";
}

.choice_grid {
    padding-top: 15px;
}

.choice_desc {
    padding: 20px;
}

.choice_desc h3 {
    font-size: 18px;
    min-height: auto;
    padding-bottom: 10px;
}

.choice__desc ul {
    display: none;
}

.tall img {
    height: auto !important;
    transform: translateY(30%);
}

}

.gallery__main .wrapper{
    width: 60%;
}