.interlayer{
    display: flex;
    justify-content: center;
    /* background-color: red; */
    height: 100vh;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 150px;
}

.interlayer span{
    /* width: 80%;  */
}

.content{
    display: flex;
    justify-content: center;
    height: 100vh;
}


.cards{
    width: 100%;
    height: 100%;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card__wrapper{
    margin-bottom: 50px;
    /* z-index: 2; */
    width:  30%;
    height: 45%;
    /* margin: 0 50px; */
    background-color: #6D8CB3;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.card{
    height: 100%;
    width: 100%;
    text-align: center;


    position: relative;
}

.card a{
    width: 100%;
    height: 100%;
}

.card p{
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    text-transform:uppercase;
    font-weight: bold;
    color: white;
    position: absolute;
    /* z-index: 10; */
    bottom: 30px;
    /* margin-left: 20%; */
}


.card img{
    width: 100%;
    height: 100%;
    z-index: 1;
    border: none;
    border-radius: 25px;
    
}