@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  height: 100%;

  
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 19%, rgba(234,230,202,1) 66%, rgba(234,230,202,1) 67%);
}

.container {
  width: 100%;
  max-width: 1985px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
}

.header {
  flex: 0 0;
  height: 90px;
  background-color: #212429;
  margin-top: 70px;
  
}

.header > div{
  width: 100%;
}

.header h1 {
  text-align: center;
  color: #fff;
  
  /* font-size: 30px; */
  font-weight: bold;
}



.main {

  flex: 1 0 auto;
}

.footer {
  background-color: #212429;
  flex: 0 0 auto;
}


.content {
  padding: 50px 0;
}

p {
  margin-bottom: 40px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.footer .content {
  color: #fff;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 55px;
  background: #7a52b3;
  z-index: 300;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar__wrap .menu > li > a:hover {
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 1000px) {
  .navbar__wrap .menu {
    display: none;
  }
  .hamb {
    display: flex;
    align-items: center;
  }
  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }
  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 60%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .popup.open {
    left: 0;
  }
  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }
  .popup .menu > li {
    width: 100%;
  }
  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }
  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  body.noscroll {
    overflow: hidden;
  }
}



.swiper{
  width: 45vh;
  height: 100%;
  margin: 0 50px;
}
.swiper-slide{
  text-align: center;
  font-size: 18px;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: hidden;
  border-radius: 15px;
  
}
.swiper-slide img{
  height: 73vh;
  width: 100%;
  border: hidden;
  border-radius: 15px;
  object-fit: cover;
}

.swiper-slide .description{
  padding: 5px;
  border: hidden;
  width: 80%;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  text-decoration: underline;
  bottom: 5%;
}

.swiper-slide .to_blur{
  filter: blur(15px);
}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right: -20px !important;
  width: 50%;
  margin-top: 40%;
  /* left: auto; */

}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left: -20px !important;
  width: 50%;
  margin-top: 40%;
  /* right: auto; */
}

.swipe_main{
  margin-top: 10vh;
}

.button{
  opacity: 0;
}




.content{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .button{
      opacity: 0;
  }
}

/* footer .content{
  display: grid;
  grid-template-areas: 'about_us', 'navigation', 'contact';
  grid-template-columns: 1fr 1fr 1fr;
}

 footer .contact{
  display: flex;
  flex-direction: column;
 }



 footer .menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
 }

 footer .menu > li{
    padding-top: 10px;
 }

 footer .navbar__wrap{
  justify-content: center;
 }

 
footer *{
  color: white;
} */



footer address{
  width: 100%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-top: 4%;
  /* background-color: #303030; */
  display: grid;
  grid-template-columns: 40% 18% 20% 18%;
  grid-column-gap: 1% ;
  
}
footer a{
text-decoration: none;
color: white;
}
footer h2 a:hover{
text-decoration: none;
color: aqua;

}
.footer_aboutUs p{
width:80%;
}
.footer_logo{
display: flex;
position: relative;
}
.quick_links div{
margin-bottom: 10px;
}
.Contacts div{
margin-bottom: 10px;
}
.nav div{
margin-bottom: 10px;
}
.footer_aboutUs{
color: white;

margin-left: 5%;

}
@media (max-width: 780px){
footer address{
 grid-template-columns: 100% ;
}
footer .quick_links,
footer .Contacts,
footer .nav{
 margin-left: 5%;
 margin-top: 2%;
}
}
footer .quick_links a,
footer .Contacts a,
footer .nav a{
position: relative;
color: white; 
cursor: pointer;


}
footer .quick_links a:after,
footer .Contacts a:after,
footer .nav a:after
{
display: block;
position: absolute;
left: 0; 
width: 0;
height: 2px; 
background-color: white; 
content: "";
transition: width 0.5s ease-out; 
}
footer .quick_links a:hover:after,
footer .Contacts a:hover:after,
footer .nav a:hover:after{
width: 100%;
}

@media (min-width: 780px) and (max-width: 1001px){
footer address{
  
 grid-template-columns: 48% 48% ;
}
footer .quick_links,
footer .Contacts,
footer .nav{
 margin-left: 5%;
 margin-top: 2%;
}
}
footer h2{
margin: 0 !important;
color: white;
margin-bottom: 2px;
}
.line{

width: 40px;
height: 2px;
background-color: #FFA07A;
}
.footer_logo div{
position: relative;
height: 40px;
width: 40px;
border-radius: 50%;
border-color: black;
border-style: solid;
margin-left: 1%;
overflow: hidden;
}

footer div div:hover > a::before{
top: 0%;
}
.footer_logo a::before{
content: ' ';
position: absolute;
top: -100%;

width: 40px;
height: 40px;
background: linear-gradient(to bottom left, red, yellow);
transition: 1s;
z-index: 2;
}
.footer_logo img{
position: relative;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
margin-bottom: 10px;
z-index: 3;
}

.footer .Contacts  a{
  display: flex;
  flex-direction: row;
  
}

.footer .Contacts img{
  height: 15px;
}